/* ------------------------------------------------------------
 *
 * File        : help.css
 *
 * Description : Styles for the BLE Device Monitor Help pages
 *
 * ----------------------------------------------------------- */
body 
{
	background-color:#eee; 
	padding:0;
	color:black;
}



h1{
	font-family: roboto;
	font-weight: medium;
	font-size:20px;
	text-align:center;
	border-bottom: 0px;
	color: #424242;
}

h2{
	font-family: roboto;
	font-weight: lighter;
	font-size:18px;
	text-align:center;
	border-bottom: 0px;
	color: #979698
}

h3{
	font-family: roboto;
	font-weight: lighter;
	font-size: 10;
	border-bottom: 1px;
	border-color: #424242;
	border-bottom-width: 100%;
}

h4{
	font-family: roboto;
	font-weight: lighter;
	font-size: 10;
	border-bottom: 0px;
}

div.main 
{
	margin:0 auto;
	text-align:justify;
}

p
{
	font-size:16px;
}

p.info
{
	text-align:center;
	color:red;
}

p.copy
{
	text-align:center;
	color:red;
}

b
{
	color:#003;
}

